@{
    ViewBag.Title = "Get in Touch";
}

<section class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
            </div>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <address>
                    <ul>
                        <li>16, Shamblion St</li>
                        <li>Nile Kornish</li>
                        <li>Cairo, </li>
                        <li>Egypt</li>
                       
                    </ul>
                </address>
            </div>
            <div class="col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46472.05460928546!2d31.218086608613756!3d30.03524766398407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145840c0d951113d%3A0x3cd085938aad3157!2z2YPYtNix2Ykg2KfYqNmIINi32KfYsdmC!5e0!3m2!1sen!2seg!4v1640531678147!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-text pull-left">
                    @*<a href="https://github.com/" title="GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>*@
                    <a href="https://ca.linkedin.com/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a href="https://www.facebook.com/MahmoudElsayedBarakat/" title="Find me on Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="https://twitter.com/" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
